@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*общий класс для всех кнопок*/
.button-all {
  padding: 8px 50px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
}

/*хедер*/
.page-header {
  padding: 0 70px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.header-logo {
  position: relative;
  margin-right: 28px;
  margin-bottom: -6px;
  line-height: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 530px;
  padding: 0;
  margin: 0 auto 0 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.navigation-link:link:not(.current-page),
.navigation-link:visited:not(.current-page) {
  color: #000000;
}

.navigation-link:hover:not(.current-page) {
  color: #68a2ca;
}

.header-logo:focus,
.navigation-link:focus-visible:not(.current-page) {
  color: #68a2ca;
  outline: 2px solid #68a2ca;
  border-radius: 0 0 4px 4px;
}

.navigation-link:active:not(.current-page) {
  opacity: 0.3;
}

.current-page {
  text-decoration: underline #756257;
  text-underline-offset: 24px;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 176px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 20px 0 0;
  list-style-type: none;
}

.user-menu-link {
  display: block;
  position: relative;
  padding: 22px 12px;
  min-height: 20px;
  min-width: 20px;
}

.like-number .user-menu-like {
  position: absolute;
  display: inline-block;
  top: 11px;
  left: 20px;
  width: 20px;
  height: 20px;
  padding-top: 6px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  z-index: 1;
}

.user-menu-link:link path,
.user-menu-link:visited path {
  fill: #000000;
}

.user-menu-link:hover path,
.user-menu-link:focus path {
  fill: #68a2ca;
}

.user-menu-link:active path {
  fill: #82b3d3;
}

.user-menu-link:focus-visible{
  outline: 2px solid #68a2ca;
  border-radius: 0 0 4px 4px;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-link.disabled-link path{
  fill: #e5e5e5;
  cursor: default;
}

.user-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.user-menu-button {
  width: 160px;
  padding: 8px;
  margin-top: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.user-menu-button:hover,
.user-menu-button:focus {
  background-color: #615048;
  outline: none;
}

.user-menu-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

/*футер*/
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.footer-social {
  padding-top: 5px;
}

.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 142px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-item {
  min-width: 47px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 40px;
  min-width: 27px;
}

.social-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #82b3d3;
}

.social-link:link,
.social-link:visited {
  fill: #82b3d3;
}

.social-link:focus {
  outline: none;
}

.social-link:hover path,
.social-link:focus path {
  fill: #68a2ca;
}

.social-link:active path {
  fill: #68a2ca;
  fill-opacity: 0.3;
}

.footer-contact {
  max-width: 333px;
  padding: 5px 195px;
  text-align: center;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-telephone:link,
.footer-telephone:visited {
  color: #000000;
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: #756157;
  outline: none;
}

.footer-telephone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-htmlacademy {
  padding-top: 8px;
}

.htmlacademy-link:link,
.htmlacademy-link:visited {
  fill: #000000;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: #756157;
  fill-opacity: 0.3;
}

/*стили текста для главной страницы*/

.index-main {
  flex-grow: 1;
  background-color: #ffffff;
}
/*шапка index*/
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
  background-color: #ffffff;
}

.main-header-text-wrapper {
  padding: 69px 250px;
}

.main-heading {
  margin: 0 0 25px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-header-text {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.background-images-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 485px;
  background-color: #3f5e72;
  background-image: url("../images/index-bottom-background.svg"),
    url("../images/index-background.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.background-images-wrapper img {
  margin: 51px auto;
  object-fit: contain;
}

/*секция преимуществ*/
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 113px 84px 103px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.advantages-heading::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  content: "";
}

.advantages-item-edge-text .advantages-heading::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-item-edge {
  grid-column: 1 / -1;
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-edge img {
  align-self: center;
  object-fit: cover;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-bottom-block {
  order: 1;
}

.advantages-item-edge-text {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  padding: 102px 85px;
}

.advantages-text {
  margin: 0;
  text-align: center;
}

.advantages-item .advantages-text {
  color: #333333;
}

.advantages-item-odd {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-edge .advantages-text {
  color: #ffffff;
}

.advantages-heading {
  position: relative;
  margin: 0 0 62px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*секция с приглашением*/
.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 350px;
  background-color: #ffffff;
}

.invite-heading {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.invite-text {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*секция с рекомендациями*/
.recomendation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.recomendation-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 79px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  list-style-type: none;
}

.recomendation-item-odd {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-icon-home {
  background-image: url("../images/recomendation-icon-home.svg");
  background-position: center 81px;
  background-repeat: no-repeat;
}

.recomendation-icon-food {
  background-image: url("../images/recomendation-icon-burger.svg");
  background-position: center 81px;
  background-repeat: no-repeat;
}

.recomendation-icon-gift {
  background-image: url("../images/recomendation-icon-gift.svg");
  background-position: center 79px;
  background-repeat: no-repeat;
}

.recomendation-text {
  margin: 0;
  color: #333333;
}

.recomendation-heading {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*секция поиска гостиниц*/
.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
  background-color: #ffffff;
}

.hotels-heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hotels-text {
  margin: 0 0 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotels-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #615048;
  outline: none;
}

.hotels-search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

/*блок подписки*/
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  background-color: #3f5e72;
  background-image: url("../images/index-subscribe-background.jpg");
  background-repeat: round;
  color: #ffffff;
}

.subscribe-heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text {
  margin: 0 0 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.button-subscribe {
  max-width: 232px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-subscribe:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.subscribe-input {
  width: 412px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscribe-input:hover {
  background-color: #e6e6e6;
}

.subscribe-input:focus {
  outline: 2px solid #82b3d3;
}

/*стили для страницы каталога*/
/*фон по всей странице*/
.catalog-main {
  flex-grow: 1;
  background-color: #ffffff;
}

/*шапка страницы каталога*/
.catalog-heading {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-header {
  min-height: 307px;
  padding: 35px 70px 70px;
  background-color: #3f5e72;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: cover;
  color: #ffffff;
}

/*breadcrumbs*/
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 21px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 0;
  right: -18px;
  bottom: 0;
  content: url("../images/breadcrumbs-divider.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  min-width: 13px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:link,
.breadcrumbs-link:visited {
  color: #ffffff;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:hover path  {
  color: rgba(255, 255, 255, 0.60);
  fill: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:focus,
.breadcrumbs-link:focus path {
  color: #ffffff;
  fill: #ffffff;
  outline: none;
}

.breadcrumbs-link:active,
.breadcrumbs-link:active path {
  color: rgba(255, 255, 255, 0.30);
  fill: rgba(255, 255, 255, 0.30);
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  color: #ffffff;
}

/*фильтр гостиниц*/
.filters-catalog-form {
  display: grid;
  grid-template-columns: 221px auto 358px 191px;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "infrastructure type price ."
    "checkbox radio slider button";
}

.filters-infrustructure-title {
  grid-area: infrastructure;
  margin: 0;
  padding: 0 0 32px 0;
  font-family: inherit;
}

.filters-catalog-group-infrastructure {
  grid-area: checkbox;
  width: 151px;
  margin-right: 70px;
}

.filters-catalog-group-type {
  grid-area: radio;
}

.filters-type-title {
  grid-area: type;
  margin: 0;
  padding: 0 0 32px 0;
}

.filters-price-title {
  grid-area: price;
  margin: 0;
  padding: 0 0 32px 0;
}

.filters-catalog-group-price {
  grid-area: slider;
  width: 288px;
  margin-right: 70px;
}

.filters-button-wrapper {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 191px;
}

.filters-catalog-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-catalog-title {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filters-catalog-list {
  max-width: 250px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filters-catalog-item {
  margin-bottom: 16px;
  line-height: 23px;
}

.filters-catalog-item:last-child {
  margin-bottom: 0;
}

.control-checkbox {
  position: relative;
  padding-left: 36px;
}

.control-checkbox-alt {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input-checkbox + .control-checkbox-alt svg {
  display: none;
}

.control-input-checkbox:checked + .control-checkbox-alt svg {
  display: block;
}

.control-radio-alt {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input-radio + .control-radio-alt svg {
  display: none;
}

.control-input-radio:checked + .control-radio-alt svg {
  display: block;
}

.control-checkbox:hover {
  opacity: 0.6;
  cursor: pointer;
}

.control-checkbox:active {
  opacity: 0.3;
}

.control-input-checkbox:focus-visible + .control-checkbox-alt,
.control-input-radio:focus-visible + .control-radio-alt {
  outline: 3px solid #83b3d3;
}

.control-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.price-field {
  position: absolute;
  width: 143px;
  max-height: 48px;
  padding: 12px 48px 12px 18px;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: #f2f2f2;
}

label[for="price-start"]::after {
  position: absolute;
  top: 12px;
  right: 165px;
  content: "от";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  z-index: 1;
}

label[for="price-end"]::after {
  position: absolute;
  top: 12px;
  right: 20px;
  content: "до";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  z-index: 1;
}

.price-field::-webkit-outer-spin-button,
.price-field::-webkit-inner-spin-button {
  appearance: none;
}

.filters-catalog-group-price input:first-of-type {
  border-radius: 4px 0 0 4px;
}

.filters-catalog-group-price input:last-of-type {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.price-textfield-wrapper {
  position: relative;
  margin-bottom: 92px;
}

.price-field:hover {
  background-color: #e6e6e6;
}

.price-field::placeholder {
  position: relative;
  top: 1px;
  left: 2px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.price-field:placeholder-shown:focus {
  border-color: transparent;
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.price-field:focus {
  outline: none;
  border: 2px solid #000000;
  background-color: #f2f2f2;
}

.price-range-slider {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.30);
}

.price-min-max {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4px;
  background-color: #ffffff;
}

.price-toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 5px;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
  background-color: #ffffff;
}

.price-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.price-toggle:active {
  outline: 2px solid #82b3d3;
}

.button-filters {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

.button-filters:hover,
.button-filters:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-filters:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-reset {
  margin-bottom: -2px;
  box-sizing: border-box;
  padding: 5px 50px;
  border: 3px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: none;
  border-color: #83b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.30);
}

.catalog-hotels-wrapper {
  padding: 50px 70px 61px;
}

/*секция сортировки*/
.catalog-sorting {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.sorting-results {
  flex-grow: 1;
  width: 338px;
  margin: 7px 0 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {
  align-self: flex-start;
  width: 292px;
  padding: 12px 46px 12px 18px;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.sorting-select:focus:not(:focus-visible) {
  border-color: #3f5e72;
}

.sorting-select:hover,
.sorting-select:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.sorting-select:disabled {
  border-color: rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
  cursor: auto;
}

.catalog-display-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-display-button {
  display: block;
  position: relative;
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.catalog-display-button:hover {
  border-color: #000000;
}

.catalog-display-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.catalog-display-button:active {
  border-color: #000000;
}

.catalog-display-current {
  border-color: #000000;
}

.catalog-display-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*карточки гостиниц*/
.hotels-cards {
  margin-bottom: 40px;
}

.hotels-cards-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-cards-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto min-content min-content min-content;
  gap: 16px 20px;
  justify-content: space-between;
  width: 340px;
  box-sizing: border-box;
  padding: 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-cards-link {
  grid-column: 1 / -1 ;
  display: block;
  line-height: 0;
  text-decoration: none;
  color: #000000;
}

.hotels-cards-link:link,
.hotels-cards-link:visited {
  color: #000000;
}

.hotels-cards-link:hover {
  color: #68a2ca;
}

.hotels-cards-link:hover .hotel-card-image {
  background-color: #68a2ca;
}

.hotels-cards-link:focus {
  color: #68a2ca;
  outline-color: #68a2ca;
}

.hotels-cards-link:active {
  color: rgba(0, 0, 0, 0.30);
}

.hotels-cards-link.disabled-link {
  color: #000000;
  opacity: 0.5;
  cursor: default;
}

.hotel-card-image {
  margin-bottom: 16px;
  object-fit: cover;
  width: 100%;
  background-color: #3f5e72;
}

.hotel-card-heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-link,
.button-like,
.button-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: 8px 0;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-link,
.button-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  user-select: none;
}

.hotel-card-link {
  text-align: center;
  background-color: #756157;
  text-decoration: none;
}

.hotel-card-link:link,
.hotel-card-link:visited {
  background-color: #756157;
  color: #ffffff;
}

.hotel-card-link:hover,
.hotel-card-link:focus {
  outline: none;
  background-color: #615048;
}

.hotel-card-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.hotel-card-link.disabled-link {
  background-color: #e5e5e5;
  cursor: default;
}

.button-like {
  background-color: #82b3d3;
  font-family: inherit;
  cursor: pointer;
}

.button-like:hover:not(.button-favourites),
.button-like:focus:not(.button-favourites) {
  outline: none;
  background-color: #68a2ca;
}

.button-like:active:not(.button-favourites) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-like:disabled:not(.button-favourites) {
  background-color: #e5e5e5;
  cursor: auto;
}

.rating-stars {
  height: 37px;
  width: 140px;
  background-image: url("../images/rating-star.svg"), url("../images/rating-star.svg"), url("../images/rating-star.svg"), url("../images/rating-star.svg"), url("../images/rating-star.svg");
  background-repeat: no-repeat;
  background-position: 0 10px, 24px 10px, 48px 10px, 72px 10px, 96px 10px;
}

.one-star {
  width: 24px;
}

.two-stars {
  width: 48px;
}

.three-stars {
  width: 72px;
}

.four-stars {
  width: 96px;
}

.five-stars {
  width: 120px;
}

.button-rating {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #333333;
}

.hotel-type,
.hotel-price {
  margin: 0;
  color: #333333;
}

.hotel-price {
  justify-self: end;
}

.button-favourites {
  background-color: #7db54f;
}

.button-favourites:hover,
.button-favourites:focus {
  outline: none;
  background-color: #6c9e42;
}

.button-favourites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.30);
}

.button-favourites:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

/*пагинация*/
.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 39px 0 0;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
}

.catalog-pagination-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.catalog-pagination-item .catalog-pagination-link:hover:not(.link-disabled):not(.button-null),
.catalog-pagination-item .catalog-pagination-link:focus:not(.link-disabled):not(.button-null) {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  outline: none;
}

.catalog-pagination-item .catalog-pagination-link:active:not(.link-disabled):not(.button-null) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-null:hover {
  border-radius: 4px;
  background-color: #e6e6e6;
}

.button-null:focus-visible {
  border-radius: 4px;
  border: 2px solid #82b3d3;
  outline: none;
}

.button-null:active {
  opacity: 0.3;
}

.catalog-pagination-item {
  border-radius: 4px;
  background-color: #82b3d3;
}

.catalog-pagination-item:first-child {
  background-color: #f2f2f2;
}

.catalog-pagination-item-null {
  background-color: #ffffff;
}

.catalog-pagination-item-null .catalog-pagination-link {
  color: #000000;
}

.link-disabled {
  color: #000000;
  pointer-events: none;
}

/*блок подписки на странице каталога*/
.subscribe-catalog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  background-color: #ffffff;
}

/*модальное окно*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal-search-block {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-heading {
  max-width: 420px;
  margin: 0 0 64px 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 64px;
  right: 52px;
  min-height: 52px;
  min-width: 52px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #e6e6e6;
}

.close-modal:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.close-modal:active {
  background-color: #e6e6e6;
}

.close-modal:active path {
  opacity: 0.3;
}

.modal-search-form {
  display: grid;
  grid-template-rows:  repeat(4, auto);
  grid-template-columns: 137px 111px 218px 111px;
  grid-template-areas:
    "ldi idi idi idi"
    "ldo ido ido ido"
    "lna ina lnch inch"
    "but but but but";
}

.modal-form-label.date-in {
  grid-area: ldi;
}

.modal-form-label.date-out {
  grid-area: ldo;
}

.modal-date-input.date-in,
.modal-date-input.date-out {
  width: 440px;
  height: 48px;
  box-sizing: border-box;
  justify-self: end;
}

.modal-date-input {
  margin: 0;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.modal-date-input:hover {
  background-color: #e6e6e6;
}

.modal-date-input:placeholder-shown:focus {
  background-color: #e6e6e6;
  border: 2px solid transparent;
  box-sizing: border-box;
  outline: 3px solid #83b3d3;
}

.modal-date-input:focus {
  background-color: #f2f2f2;
  border: 2px solid #000000;
  outline: none;
}

.date-in-messages-wrapper {
  min-height: 42px;
  padding: 3px 20px;
}

.date-out-messages-wrapper {
  min-height: 42px;
  padding: 3px 20px;
}

.modal-input-wrapper-in {
  grid-area: idi;
  position: relative;
}

.modal-input-wrapper-out {
  grid-area: ido;
  position: relative;
}

.number-input-wrapper {
  display: flex;
  align-self: start;
  width: 111px;
  box-sizing: border-box;
  align-items: center;
  padding: 12px 10px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.number-input-wrapper.first-element {
  grid-area: ina;
}

.number-input-wrapper.last-element {
  grid-area: inch;
  position: relative;
  justify-self: end;
}

.number-input {
  width: 45px;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: #f2f2f2;
}

.number-input:focus {
  outline: none;
}

.modal-form-label {
  padding-top: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  text-transform: capitalize;
}

.modal-form-label.num-child {
  grid-area: lnch;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 77px;
  position: relative;
  width: auto;
  justify-self: end;
}

.num-child-text {
  width: 50px;
  margin-right: 6px;
  vertical-align: top;
  text-align: right;
}

.modal-form-label.num-adult {
  grid-area: lna;
}

.modal-tooltip-button {
  position: absolute;
  top: 11px;
  right: 157px;
  width: 26px;
  height: 26px;
  padding: 0;
  font-family: inherit;
  border-radius: 50%;
  border: none;
  background-color: #83b3d3;
  cursor: pointer;
}

.modal-tooltip-button svg {
  position: absolute;
  top: 7px;
  right: 12px;
}

.modal-tooltip {
  position: absolute;
  display: none;
  top: 41px;
  left: -115px;
  width: 216px;
  min-height: 105px;
  padding: 20px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  text-transform: none;
  text-align: start;
  border-radius: 10px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
}

.modal-tooltip::before {
  position: absolute;
  top: -16px;
  left: 118px;
  content: url("../images/triangle-tooltip.svg");
}

.modal-tooltip-button:focus-visible {
  outline: none
}

.modal-tooltip-button:focus-visible .modal-tooltip,
.modal-tooltip-button:hover .modal-tooltip {
  display: block;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button,
.modal-date-input::-webkit-outer-spin-button,
.modal-date-input::-webkit-inner-spin-button {
  appearance: none;
}

/*убирает стрелочки в полях в Файрфокс*/
input[type="number"] {
  -moz-appearance: textfield;
}

.modal-date-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.calendar-button {
  position: absolute;
  top: 16px;
  right: 22px;
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.3;
}

.button-num-minus,
.button-num-plus {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.button-num-minus svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1px);
}

.button-num-plus svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-num-minus {
  margin-right: 3px;
}

.button-num-plus {
  margin-left: 3px;
}

.calendar-button:hover,
.button-num-minus:hover,
.button-num-plus:hover {
  opacity: 1;
}

.button-num-minus:focus-visible,
.button-num-plus:focus-visible {
  opacity: 1;
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.calendar-button:focus-visible {
  opacity: 1;
  border-radius: 2px;
  outline: 3px solid #83b3d3;
}

.calendar-button:active,
.button-num-minus:active,
.button-num-plus:active {
  opacity: 0.2;
}

.modal-form-button {
  grid-area: but;
  width: 577px;
  padding: 18px 77px;
  margin-top: 48px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.modal-form-button:active {
  color: rgba(255, 255, 255, 0.30);
}

.modal-date-message {
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
}

.error-message {
  color: #ff5757;
}

.warning-message {
  color: #333333;
}

/*стили для disabled*/
.button-all:disabled {
  cursor: auto;
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
  cursor: auto;
}

.close-modal:disabled,
.close-modal:disabled path,
.modal-tooltip-button:disabled,
.price-toggle:disabled,
.price-toggle:disabled:active {
  cursor: auto;
  background-color: #e5e5e5;
  outline: none;
  fill: #e5e5e5;
  pointer-events: none;
}

.calendar-button:disabled,
.button-num-minus:disabled,
.button-num-plus:disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.modal-tooltip-button:disabled .modal-tooltip {
  display: none;
}

.modal-date-input:disabled,
.subscribe-input:disabled {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  outline: none;
  cursor: auto;
}

.number-input:disabled {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.5);
}

.control-input-checkbox:disabled + .control-checkbox-alt,
.control-input-radio:disabled + .control-radio-alt {
	opacity: 0.3;
}

/*класс для скрытия сообщений о датах в модалке*/
/*удаляется/навешивается через js*/
.message-hidden {
  display: none;
}

/*класс для скрытия модалки, по умолчанию добавлен в разметке*/
/*если раскомментировать - модальное окно скроется*/
/*.modal-hidden {
  display: none;
}*/
