@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;

  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}
/*текст хедера*/
.navigation-link,
.user-menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}
.user-menu-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
/*телефон в футере*/
.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

/*стили текста для главной страницы*/
/*текст шапки index*/
.main-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.main-header-text {
  font-size: 22px;
  line-height: 26px;
}
/*текст в преимуществах*/
.advantages-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*текст в приглашении*/
.invite-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.invite-text {
  font-size: 22px;
  line-height: 26px;
}
/*текст в рекомендациях*/
.recomendation-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*текст в поиске гостиниц*/
.hotels-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.hotels-text {
  font-size: 22px;
  line-height: 26px;
}
.hotels-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
/*текст в блоке подписки*/
.subscribe-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}
.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-form {
  font-size: 18px;
  line-height: 24px;
}

/*стили текста для страницы каталога*/
/*заголовок каталога*/
.catalog-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
/*breadcrumbs*/
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
/*текст в фильтре*/
.filters-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.filters-catalog-item {
  line-height: 23px;
}
.control-input { /*уточнить по стилизации надписей в полях формы (value и placeholder)*/
  line-height: 24px;
}
.button-filters {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
/*текст в сортировке*/
.sorting-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/*текст в карточках гостиниц*/
.hotels-cards-link {
  text-decoration: none;
}
.hotel-card-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-link,
.button-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.button-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
/*пагинация*/
.catalog-pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

/*фоны и цвет текста*/
/*хедер*/
.page-header {
  background-color: #ffffff;
}
.navigation-link,
.user-menu-link {
  color: #000000;
}
.user-menu-button {
  background-color: #756157;
  color: #ffffff;
}
/*футер*/
.page-footer {
  background-color: #ffffff;
}
.footer-telephone {
  color: #000000;
}

/*главная страница*/
/*шапка основного раздела*/
.main-header {
  background-color: #ffffff;
}
.background-images-wrapper {
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}
.background-images-bottom-wrapper {
  background-image: url("../images/index-bottom-background.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 485px;
}
.main-header-text {
  color: #333333;
}
/*секция преимуществ*/
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item .advantages-text {
  color: #333333;
}
.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.20);
}
.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  color: #ffffff;
}
.advantages-item:first-child .advantages-text,
.advantages-item:last-child .advantages-text {
  color: #ffffff;
}

/*секция с приглашением*/
.invite {
  background-color: #ffffff;
}
.invite-text {
  color: #333333;
}
/*секция с рекомендациями*/
.recomendation {
  background-color: #ffffff;
}
.recomendation-item:first-child,
.recomendation-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}
.recomendation-text {
  color: #333333;
}

/*секция поиска гостиницы*/
.hotels {
  background-color: #ffffff;
}
.hotels-text {
  color: #333333;
}
.hotels-search-button {
  background-color: #756157;
  color: #ffffff;
}
.button-subscribe {
  background-color: #82B3D3;
  color: #ffffff;
}

/*секция подписки*/
.subscribe {
  background-color: #82B3D3;
  background-image: url("../images/index-subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

/*страница каталога*/
/*фон и текст по всей странице*/
.catalog-main {
  background-color: #ffffff;
}

/*шапка страницы каталога*/
.catalog-header {
  background-color: #82B3D3;
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}
.breadcrumbs-link {
  color: #ffffff;
}
.button-filters {
  background-color: #82B3D3;
  color: #ffffff;
}

/*секция сортировки*/
.sorting-select {
  color: #333333;
}
/*карточки гостиниц*/
.hotels-cards-link {
  color: #000000;
}
.hotel-type,
.hotel-price {
  color: #333333;
}
.hotel-card-link {
  background-color: #756157;
  color: #ffffff;
}
.button-like {
  background-color: #82B3D3;
  color: #ffffff;
}
.button-favourites {
  background-color: #7DB54F;
}
.button-rating {
  background-color: #F2F2F2;
  color: #333333;
}

/*пагинация*/
.catalog-pagination-item {
  background-color: #82B3D3;
}
.catalog-pagination-item:first-child {
  background-color: #F2F2F2;
}
.catalog-pagination-item:nth-child(5) {
  background-color: #ffffff;
}
.catalog-pagination-item:nth-child(5) .catalog-pagination-link {
  color: #000000;
}
.catalog-pagination-link {
  color: #ffffff;
}
.link-disabled {
  color: #000000;
}

/*блок подписки*/
.subscribe-catalog-page {
  background-color: #ffffff;
}
.subscribe-text {
  color: #333333;
}
.subscribe-form {
  background-color: #F2F2F2;
}
