@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*общий класс для всех кнопок*/
.button-all {
  padding: 8px 50px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

/*хедер*/
.page-header {
  padding: 0 70px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.header-logo {
  position: absolute;
  margin-right: 30px;
  line-height: 0;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 620px;
  padding: 0 0 0 168px;
  margin: 0 auto 0 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.current-page {
  text-decoration: underline #756257;
  text-underline-offset: 24px;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.user-menu-link {
  display: block;
  position: relative;
  padding: 22px 12px;
  min-height: 20px;
  min-width: 20px;
}

.like-number .user-menu-link::before {
  position: absolute;
  display: inline-block;
  top: 11px;
  right: 0;
  left: 20px;
  bottom: 0;
  width: 20px;
  height: 20px;
  padding-top: 6px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #7db54f;
  content: "12";
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  z-index: 1;
}

.user-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.user-menu-button {
  width: 160px;
  padding: 8px 0;
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.user-menu-button:hover,
.user-menu-button:focus {
  background-color: #615048;
  outline: none;
}

.user-menu-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

/*футер*/
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.footer-social {
  padding-top: 5px;
}

.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 142px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-item {
  min-width: 47px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 40px;
  min-width: 27px;
}

.social-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #82b3d3;
}

.social-link:link,
.social-link:visited {
  fill: #82b3d3;
}

.social-link:focus {
  outline: none;
}
.social-link:hover path,
.social-link:focus path {
  fill: #68a2ca;
}

.social-link:active path {
  fill: #68a2ca;
  fill-opacity: 0.3;
}

.footer-contact {
  padding: 5px 195px;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-telephone:link,
.footer-telephone:visited {
  color: #000000;
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: #756157;
  outline: none;
}

.footer-telephone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-htmlacademy {
  padding-top: 8px;
}

.htmlacademy-link:link,
.htmlacademy-link:visited {
  fill: #000000;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: #756157;
  fill-opacity: 0.3;
}

/*стили текста для главной страницы*/
/*шапка index*/
.index-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
  background-color: #ffffff;
}

.main-header-text-wrapper {
  padding: 69px 250px;
}

.main-heading {
  margin: 0 0 25px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-header-text {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.background-images-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 485px;
  background-color: #82b3d3;
  background-image: url("../images/index-bottom-background.svg"),
    url("../images/index-background.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.background-images-wrapper img {
  margin: 51px auto;
}

/*секция преимуществ*/
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 113px 85px 103px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.advantages-heading {
  position: relative;
}

.advantages-heading::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  content: "";
}

.advantages-item-edge-text .advantages-heading::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-item-edge {
  grid-column: 1 / -1;
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-edge img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.advantages-bottom-block {
  order: 1;
}

.advantages-item-edge-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  padding: 102px 85px;
}

.advantages-text-rectangle {
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-text-rectangle-edge {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-text {
  margin: 0;
  text-align: center;
}

.advantages-item .advantages-text {
  color: #333333;
}

.advantages-item-odd {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-edge .advantages-text {
  color: #ffffff;
}

.advantages-heading {
  margin: 0 0 62px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*секция с приглашением*/
.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 350px;
  background-color: #ffffff;
}

.invite-heading {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.invite-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*секция с рекомендациями*/
.recomendation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.recomendation-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 79px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  list-style-type: none;
}

.recomendation-item-odd {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-item::before {
  position: absolute;
  top: 81px;
  right: 0;
  bottom: 0;
  left: 0;
}

.recomendation-icon-home.recomendation-item::before {
  content: url("../images/recomendation-icon-home.svg");
}

.recomendation-icon-food.recomendation-item::before {
  content: url("../images/recomendation-icon-burger.svg");
}

.recomendation-icon-gift.recomendation-item::before {
  top: 79px;
  content: url("../images/recomendation-icon-gift.svg");
}

.recomendation-text {
  margin: 0;
  color: #333333;
}

.recomendation-heading {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*секция поиска гостиниц*/
.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
  background-color: #ffffff;
}

.hotels-heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-text {
  margin: 0 0 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotels-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #615048;
  outline: none;
}

.hotels-search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

/*блок подписки*/
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  background-color: #82b3d3;
  background-image: url("../images/index-subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0 0 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe .subscribe-text {
  color: #ffffff;
}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-subscribe:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.subscribe-form {
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

/*стили для страницы каталога*/
/*фон по всей странице*/
.catalog-main {
  flex-grow: 1;
  background-color: #ffffff;
}

/*шапка страницы каталога*/
.catalog-heading {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-header {
  min-height: 307px; /*это позже уберу, пока без этого высота блока чуть меньше макета из-за отсуттвующего бегунка выбора цены*/
  padding: 35px 70px 70px;
  background-color: #82b3d3;
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

/*breadcrumbs*/
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 23px;
  content: url("../images/breadcrumbs-divider.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  min-width: 13px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

/*фильтр гостиниц*/
.filters-catalog-form {
  display: flex;
  flex-wrap: wrap;
}

.filters-catalog-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-catalog-group-price,
.filters-catalog-group-infrastructure {
  margin-right: 70px;
}

.filters-catalog-group-type {
  flex-grow: 1;
}

.filters-catalog-title {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filters-catalog-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filters-catalog-item {
  margin-bottom: 16px;
  line-height: 23px;
}

.filters-catalog-item:last-child {
  margin-bottom: 0;
}

.control-input {
  line-height: 24px;
}

.button-filters {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

.button-reset {
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.catalog-hotels-wrapper {
  padding: 50px 70px 60px;
}

.filters-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*секция сортировки*/
.catalog-sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.sorting-results {
  flex-grow: 1;
  margin: 0;
}

.sorting-select {
  margin-right: 70px;
  color: #333333;
}

.sorting-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-display-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-display-item {
  margin-right: 8px;
}

.catalog-display-item:last-child {
  margin-right: 0;
}

.catalog-display-button {
  display: block;
  position: relative;
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.catalog-display-button:hover {
  border-color: #000000;
}

.catalog-display-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.catalog-display-button:active {
  border-color: #000000;
}

.catalog-display-current {
  border-color: #000000;
}

.catalog-display-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*карточки гостиниц*/
.hotels-cards {
  margin-bottom: 40px;
}

.hotels-cards-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-cards-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto min-content min-content min-content;
  gap: 16px 20px;
  justify-content: space-between;
  width: 340px;
  box-sizing: border-box;
  padding: 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-cards-link {
  grid-column: 1 / -1 ;
  display: block;
  line-height: 0;
  text-decoration: none;
  color: #000000;
}

.hotel-card-image {
  margin-bottom: 16px;
  object-fit: cover;
  width: 100%;
}

.hotel-card-heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-link,
.button-like,
.button-rating {
  display: block;
  width: 140px;
  padding: 8px 0;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-link,
.button-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.hotel-card-link {
  text-align: center;
  background-color: #756157;
  text-decoration: none;
}

.button-like {
  background-color: #82b3d3;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

.rating-stars {
  min-height: 37px;
  width: 140px;
}

.button-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #333333;
}

.hotel-type,
.hotel-price {
  margin: 0;
  color: #333333;
}

.hotel-price {
  justify-self: end;
}

.button-rating {
  margin: 0;
}

.button-favourites {
  background-color: #7db54f;
}

/*пагинация*/
.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 40px 0 0;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
}

.catalog-pagination-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.catalog-pagination-item .catalog-pagination-link:hover:not(.link-disabled):not(.button-null),
.catalog-pagination-item .catalog-pagination-link:focus:not(.link-disabled):not(.button-null) {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  outline: none;
}

.catalog-pagination-item .catalog-pagination-link:active:not(.link-disabled):not(.button-null) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.catalog-pagination-item {
  border-radius: 4px;
  background-color: #82b3d3;
}

.catalog-pagination-item:first-child {
  background-color: #f2f2f2;
}

.catalog-pagination-item-null {
  background-color: #ffffff;
}

.catalog-pagination-item-null .catalog-pagination-link {
  color: #000000;
}

.link-disabled {
  color: #000000;
}

/*блок подписки на странице каталога*/
.subscribe-catalog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  background-color: #ffffff;
}
